.additionaly {
  margin-bottom: 34px;
}

.additionaly__content {
  width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
}

.additionaly__list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 12px;
}

.additionaly__item {
  width: 280px;
  height: 30px;

  .control-label {
    color: $basic-black;
  }
}

@media (min-width: $tablet-width) {
  .additionaly__content {
    width: 100%;
    padding-left: 70px;
    padding-right: 67px;
  }

  .additionaly__list {
    width: 565px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .additionaly__item {
    width: 220px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .additionaly__content {
    padding-left: 110px;
    padding-right: 110px;    
  }
  .additionaly__list {
    width: 100%;
  }
}
//десктопные стили

// .additionaly {
//   margin: 0 auto;
//   margin-bottom: 61px;

//   .additionaly__content {
//     width: 1220px;
//     margin: 0 auto;
//   }
// }

// .additionaly__list {
//   display: flex;
//   justify-content: space-between;
//   margin-right: 24px;

//   .additionaly__item {
//     width: 221px;

//     .control-label {
//       color: $basic-black;
//     }
//   }
// }