.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 23px;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 26px;
    border: none;
    padding: 0;
    box-sizing: border-box;
  }

@media (min-width: $tablet-width) {
  .main-info {
    width: 100%;
    padding-left: 70px;
    padding-right: 70px;
    gap: 72px;
    margin-bottom: 70px;
  }

  .parameters,
  .programm-radio {
    width: 100%;
  }

  .programm-radio {
    border: 1px solid $input-border-color;
  }
}  

@media (min-width: $desktop-width) {
  .main-info {
    padding-left: 110px;
    padding-right: 110px;
    gap: 80px;
    flex-direction: row;
  }
}
  
  //десктопные стили
  
  // .main-info {
  //   display: flex;
  //   justify-content: space-between;
  //   gap: 80px;
  //   width: 1220px;
  //   margin: 0 auto;
  //   border: none;
  //   padding: 0;
  //   margin-bottom: 69px;
  // }
  