.stock-container {
    margin-bottom: 35px;
  }
  
  .stock-container__wrapper {
    width: 280px;
    height: 290px;
    margin: 0 auto;
    background: url("../img/stock-icon.svg");
    background-color: rgba(104, 183, 56, 0.85);
    background-repeat: no-repeat;
    background-position: 101px 59px;
    position: relative;
    //текст
    padding: 186px 61px 5px 58px;
    box-sizing: border-box
  }
  
  .stock-container__description {
    @include arial-text;
    line-height: 20px;
    text-align: center;
    color: $basic-white;
  }
  
@media (min-width: $tablet-width) {
  .stock-container__wrapper {
    width: 708px;
    height: 200px;
    padding: 71px 124px 5px 422px;
  }
}  

@media (min-width: $desktop-width) {
  .stock-container {
    width: 324px;
    margin-bottom: 0;
  }

  .stock-container__wrapper {
    width: 245px;
    height: 289px;
    margin-right: 0;
    padding: 184px 42px 5px 42px;
    background-position: 84px 55px;//расположение иконки
  }
}